@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #007523 0%, #4d3181 100%);}

.nav-link{
    color: aquamarine;
}

.navbar-nav .nav-link.active{
    color: rgb(140, 138, 134);
}

.navbar-brand img{
    width: 45px;
}

.sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #007523 0%, #4d3181 100%);}

.card{
    background: linear-gradient(270deg, #007523 0%, #4d3181 100%);
   
}

.card a{
    text-decoration: none;
    color: aquamarine;
}

.slide-text{
    color: aquamarine;
    margin: auto auto;

}

.footer-text{
    color: aquamarine;
    margin: auto auto;
}

footer{
    background-color: rgb(38, 38, 38);
}

p{
    color: aquamarine; 
}
.media-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call{
    animation: myAnim 5s ease 0s infinite normal forwards;
}
.btn-outline-primary{
    background: linear-gradient(270deg, #007523 0%, #4d3181 100%);
    margin-top: 20px;
    margin-bottom: 10px;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}
@media(max-width: 755px){
    .carousel-indicators{
        display: none;
    }
}